.contact-container {
  display:flex;
  flex-direction: column;
  height: 500px;
  background: #EEEEEE;
  align-items: center;
  text-align: center;

}
.page-header {
  background: #D2D2D2;
  height: 200px;
  width: 100%;
  position: bottom;
}
/* background: #D2D2D2; */